@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";
.react-codemirror2 {
  .CodeMirror{
    height: auto;
  }
  & > .cm-s-material:nth-of-type(2) {
    display: none;
  }
}
.ant-tabs {
  height: 95vh;
  .ant-tabs-nav {
    overflow-y: auto;
  }
  .ant-tabs-content-holder {
    overflow-y: auto;
  }
  .ant-tabs-tab {
    margin-top: 0 !important;
  }
}
